{{ define "main" }}

{{- if not hugo.IsProduction -}}
<span class="no-print text-muted">{{ hugo.Environment }} | Layout : layouts/recettes/single.html </span>
{{- end -}}

<h1>{{.Title}}</h1>
{{ if .Params.auteur }}
<span class="text-muted fs-5">une recette de {{ .Params.auteur }}</span>
{{ end }}
  <span class="text-muted fs-6"> publié le {{ .Params.publishDate }}</span>
 
{{ end }}

{{/* lien vers le CMS de la page */}}
{{ $linkCMSPage := (path.Join "/admin/#/collections/Recettes/entries/" (.Params.type) (.Title | urlize)) }}
<div class="text-end mx-2 px-2"><a target="_blank" rel="noopener noreferrer" href="{{$linkCMSPage}}/index" >Modifier</a></div>


<div class="printonly fs-4 text-end fw-bolder">
  Quantité pour {{.Params.plate}} assiettes
</div>

<div class="row">
  <div class="container">
    <div class="m-2 p-2 fs-5 text-end">
      {{ partial "content/badge-recette.html" . }}
    </div>
    <div class="m-2 p-2 text-end">
      {{ if .Params.materiel }}
      <span class="fw-bold">Materiel: </span>
      {{ range .Params.materiel }}
      <span class="badge bg-grey">{{ . }}</span>
      {{ end }}
      {{ end }}
    </div>

    <div class="no-print">
      <span id="quantityInit" , style="display:none">{{.Params.plate}}</span>
      <form class="form-control form-control-lg">
        <label for="amount">Nombre d'assietes à servir : </label>
        <input type="number" id="quantityInput" name="quantityInput" value="{{.Params.plate}}">
      </form>
    </div>


    <div class="row">
      <div class="col-md-4 print-col-30-100">
        <div class="card shadow-sm my-4">
          <div class="card-header h4 m-0">Ingrédients</div>
          <div class="card-body">
            {{ if .Params.ingredients.legumes }}
            <div class="flex-col mb-4">
              <div class="border-bottom fw-bolder pb-2 ">
                Legumes ou fruits (frais)
              </div>
              {{ range .Params.ingredients.legumes }}
              {{partial "content/ingredients" .}}
              {{end}}
            </div>
            {{end}}
            {{ if .Params.ingredients.sec }}
            <div class="flex-col mb-4">
              <div class="border-bottom fw-bolder pb-1 ">Sec (Legumineuses, céréales...)</div>
              {{ range .Params.ingredients.sec }}
              {{partial "content/ingredients" .}}
              {{end}}
            </div>
            {{end}}
            {{ if .Params.ingredients.lof }}
            <div class="flex-col mb-4">
              <div class="border-bottom fw-bolder pb-1 ">LOF (Legumineuses, céréales...)</div>
              {{ range .Params.ingredients.lof }}
              {{partial "content/ingredients" .}}
              {{end}}
            </div>
            {{end}}
            {{ if .Params.ingredients.animaux }}
            <div class="flex-col mb-4">
              <div class="border-bottom fw-bolder pb-1 ">Animaux</div>
              {{ range .Params.ingredients.animaux }}
              {{partial "content/ingredients" .}}
              {{end}}
            </div>
            {{end}}
            {{ if .Params.ingredients.autres }}
            <div class="flex-col mb-4">
              <div class="border-bottom fw-bolder pb-1 ">Autres</div>
              {{ range .Params.ingredients.autres }}
              {{partial "content/ingredients" .}}
              {{end}}
            </div>
            {{end}}
            {{ if .Params.ingredients.epices }}
            <div class="flex-col mb-4">
              <div class="border-bottom fw-bolder pb-1 ">Epices/condiments</div>
              {{ range .Params.ingredients.epices }}
              {{partial "content/ingredients" .}}
              {{end}}
            </div>
            {{end}}

          </div>
        </div>
      </div>
      <div class="col-md-8 print-col-70-100">
        <div class=" card shadow-sm my-4 avoid-break-inside">
          <div class="card-header h4 m-0">Préparation</div>
          <div class="card-body">
            <div class="m-auto">
              {{.Params.preparation | markdownify}}
            </div>
          </div>
        </div>

        {{ if .Params.prepAlt }}
        {{ range .Params.prepAlt }}
        <div class=" card shadow-sm my-4 avoid-break-inside">
          <div class="card-header h4 m-0">Alternative {{ .regime }}</div>
          <div class="card-body">
            <div class="m-auto">
              {{.preparation | markdownify }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}

      {{ if .Params.astuces }}
      {{ range .Params.astuces }}
      <div class="card my-2  bg-light">
        <div class="card-body small">
          <div class="fw-bold">Astuce: </div>
          <div>{{ .astuce }}</div>
        </div>
      </div>
      {{ end }}
      {{ end }}

    </div>
  </div>
</div>
</div>

{{ end }}