{{ define "main" }}

<div class="row justify-content-lg-evenly">
  <h5>/layout/recettes/taxonomy</h5>


  {{ $paginator := .Paginate (.Data.Pages) -}}
  {{ range $paginator.Pages }}
  <div class="col-lg-4">
    {{ partial "recette-card" .}}
    {{ end -}}
  </div>
  {{ template "_internal/pagination.html" . -}}
</div>


{{ end }}
