{{ define "main" }}
  {{/*  {{ $pages := .Site.RegularPages }}
  {{ $categories :=
    $.Site.Taxonomies.categories.ByCount
  }}  */}}

  {{ if hugo.IsProduction }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.min.js"
      integrity="sha512-BAMfk70VjqBkBIyo9UTRLl3TBJ3M0c6uyy2VMUrq370bWs7kchLNN9j1WiJQus9JAJVqcriIUX859JOm12LWtw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  {{ end }}
  {{ if not hugo.IsProduction }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.common.dev.min.js"
      integrity="sha512-2A6oxj7+YhJZ8H16zFL3m9eseO00e6odrsd+wQnSYiEcaw20fpsI3NSuiKQTBrGOR5ZO7xv75kjK3NZrvUTexw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  <span class="no-print text-muted">{{ hugo.Environment }}  | Layout : layouts/recettes/taxonomy.html </span>

  {{ end }}

{{/*  TODO : Ajouter explication des filtres   */}}
  <div id="appfilters">
    <div class="row">
      <div class="col-lg-4 small mt-5">
              <label>
                <input type="checkbox" v-model="additiveFiltering" />
                <span>Additionner les Filtres</span>
              </label>
        <div class="filters box">
          <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-6 mb-3">
              <h4>Catégorie</h4>
              <div v-for="categorie in allcategories" :key="categorie">
                <label>
                  <input
                    type="checkbox"
                    v-model="filters['categories']"
                    :value="categorie"
                  />
                  <span>[[categorie]]</span>
                </label>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-6 mb-3">
              <h4>Régimes</h4>
              <div v-for="regime in allregimes" :key="regime">
                <label>
                  <input
                    type="checkbox"
                    v-model="filters['regimes']"
                    :value="regime"
                  />
                  <span>[[regime]]</span>
                </label>
              </div>
            </div>
            <div class=""></div>
          </div>
        </div>

        <div class="filters box">
          <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-6 mb-3">
              <h4>Service</h4>
                <div v-for="temperature in alltemperature" :key="temperature">
                  <label>
                    <input
                      type="checkbox"
                      v-model="filters['temperature']"
                      :value="temperature"
                    />
                    <span>[[temperature]]</span>
                  </label>
                </div>
              
            </div>
            <div class="col-xl-6 col-lg-12 col-md-6 mb-3">
              <h4>Cuisson</h4>
                <div v-for="cuisson in allcuisson" :key="cuisson">
                  <label>
                    <input
                      type="checkbox"
                      v-model="filters['cuisson']"
                      :value="cuisson"
                    />
                    <span>[[cuisson]]</span>
                  </label>
                </div>
              
            </div>
          </div>
        </div>


        <div class="filters box">
          <div class="row ">
            <div class="col-xl-6 col-lg-12 col-md-6 mb-3">
              <h4>Fruits & Legumes</h4>
              <div v-for="ilegumes in allilegumes" :key="ilegumes">
                <label>
                  <input
                    type="checkbox"
                    v-model="filters['ilegumes']"
                    :value="ilegumes"
                  />
                  <span>[[ilegumes]]</span>
                </label>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-6 mb-3">
              <h4>Sec</h4>
              <div v-for="isec in allisec" :key="isec">
                <label>
                  <input
                    type="checkbox"
                    v-model="filters['isec']"
                    :value="isec"
                  />
                  <span>[[isec]]</span>
                </label>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-6 mb-3">
              <h4>Viandes & Poissons</h4>
              <div v-for="ianimaux in allianimaux" :key="ianimaux">
                <label>
                  <input
                    type="checkbox"
                    v-model="filters['ianimaux']"
                    :value="ianimaux"
                  />
                  <span>[[ianimaux]]</span>
                </label>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-6 mb-3">
              <h4>LOF</h4>
              <div>Lait, oeufs, farines, gras...</div>
              <div v-for="ilof in allilof" :key="ilof">
                <label>
                  <input
                    type="checkbox"
                    v-model="filters['ilof']"
                    :value="ilof"
                  />
                  <span>[[ilof]]</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <h3>Recettes</h3>
        <!-- TODO ? Moins gourmand ?: possibilité de remplacer in "recipes" par "recettes" : plus besoin de la computed recipes() ; et dans filteredRecipes, mettre this.recettes.filters ...-->
        <div
          class="fhide card my-2 p-3"
          v-for="(recipe, key) in recipes"
          :key="key"
          :class="{fshow: filteredRecipes.includes(recipe)}"
        >
          <div>
            <div>
              <span class="h4"
                ><a :href="[[recipe.url]]">[[recipe.title]]</a></span
              >
              <div class="float-end">
                <span
                  class="badge bg-red"
                  >[[recipe.type]]
                </span>
                <span
                class="badge bg-green mx-1 "
                  v-for="categorie in recipe.categories"
                  :key="categorie"
                  >[[categorie]]
                </span>
                <span
                  v-if="recipe.temperature === 'Chaud'"
                  class="badge bg-orange">
                Servir Chaud</span>
                <span v-else class="badge bg-blue">Servir Froid</span>
                </span>
                <span
                  v-if="recipe.cuisson === 'Oui'"
                  class="badge bg-orange">
                Avec Cuisson</span>
                <span v-else class="badge bg-blue">Sans Cuisson</span>


              </div>
            </div>
            <div class="p-2">
              <div
                  class="badge bg-grey mx-1"
                  v-for="regime in recipe.regimes"
                  :key="regime"
                  >
                <span>[[regime]]</span>
              </div>
            </div>
            <div class="p-2">
              <span
                class="small"
                v-for="legumes in recipe.ilegumes"
                :key="legumes"
                :class="{'fw-bold': filteredLegumes.includes(legumes)}"
                >[[legumes]] -
              </span>
              <span
                class="small"
                v-for="sec in recipe.isec"
                :key="sec"
                :class="{'fw-bold': filteredSec.includes(sec)}"
                >[[sec]] -
              </span>
              <span
                class="small"
                v-for="animaux in recipe.ianimaux"
                :key="animaux"
                :class="{'fw-bold': filteredAnimaux.includes(animaux)}"
                >[[animaux]] -
              </span>
              <span
                class="small"
                v-for="lof in recipe.ilof"
                :key="lof"
                :class="{'fw-bold': filteredLof.includes(lof)}"
                >[[lof]] -
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script type="module">
    const appfilters = new Vue ({
      delimiters: ['[[', ']]'],
      el: '#appfilters',
      data: () => ({
          recettes: [

              {{range (where .Site.RegularPages "Section" "recettes") }}

            {
              title: "{{ .Title }}",
              url: "{{ .RelPermalink }}",
              type: "{{ .Params.type }}",
              categories: [{{- range .Params.categories -}} "{{ . }}",{{- end -}}],
              regimes: [{{- range .Params.regime -}}"{{ . }}",{{- end -}} ],
              ilegumes: [{{- range .Params.ingredients.legumes -}} "{{ .title }}",{{- end -}}],
              isec: [{{- range .Params.ingredients.sec -}} "{{ .title }}",{{- end -}}],
              ianimaux: [{{- range .Params.ingredients.animaux -}} "{{ .title }}",{{- end -}}],
              ilof: [{{- range .Params.ingredients.lof -}} "{{ .title }}",{{- end -}}],
              specialite: " {{ .Params.spécialité }}",
              temperature: "{{ .Params.temperature }}",
              cuisson: "{{ .Params.cuisson }}"

             },

    {{- end -}}

        ],
      filters: {
        types: [],
        categories: [],
        regimes: [],
        ilegumes: [],
        ianimaux: [],
        isec: [],
        ilof: [],
        cuisson: [],
        temperature: []
      },
      additiveFiltering: false

    }),
    computed: {
      recipes() {
        return this.recettes.map(recipe => ({
          ...recipe,
   
      }))
        },

      filteredRecipes() {
      return this.recipes.filter(
        this.additiveFiltering ?
        p => this.x(this.filters.categories, p.categories).length ||
        this.x(this.filters.regimes, p.regimes).length ||
        this.x(this.filters.ilegumes, p.ilegumes).length ||
        this.x(this.filters.isec, p.isec).length ||
        this.x(this.filters.ianimaux, p.ianimaux).length ||
        this.x(this.filters.ilof, p.ilof).length ||
        this.x(this.filters.cuisson, p.cuisson).length ||
        this.x(this.filters.temperature, p.temperature).length
        :
        p => (!this.filters.categories.length ||
          this.x(this.filters.categories, p.categories).length) &&
        (!this.filters.regimes.length ||
          this.x(this.filters.regimes, p.regimes).length)  &&
        (!this.filters.ilegumes.length ||
          this.x(this.filters.ilegumes, p.ilegumes).length) &&
        (!this.filters.isec.length ||
          this.x(this.filters.isec, p.isec).length) &&
        (!this.filters.ianimaux.length ||
          this.x(this.filters.ianimaux, p.ianimaux).length)  &&
       
        (!this.filters.ilof.length ||
        this.x(this.filters.ilof, p.ilof).length) &&
      
        (!this.filters.cuisson.length ||
        this.x(this.filters.cuisson, p.cuisson).length)  &&
        (!this.filters.temperature.length ||
        this.x(this.filters.temperature, p.temperature).length)  

        )
      },

      filteredLegumes() {
        return this.filters.ilegumes
      },
      filteredAnimaux() {
        return this.filters.ianimaux
      },
      filteredSec() {
        return this.filters.isec
      },
      filteredLof() {
        return this.filters.ilof
      },



      // Pour la fabrication des boutons de filtres
      allcategories() {
        return this.getAll('categories')
      },
      allregimes() {
        return this.getAll('regimes')
      },
      allilegumes() {
        return this.getAll('ilegumes')
      },
      allisec() {
        return this.getAll('isec')
      },
      allianimaux() {
        return this.getAll('ianimaux')
      },
      allilof() {
        return this.getAll('ilof')
      },
      allcuisson(){
        return this.getAll('cuisson')
      },
      alltemperature(){
        return this.getAll('temperature')
      },



    },


    methods: {
      // tags(recipe) {
      //   return [].concat(recipe.categories, recipe.regimes)
      // },

      ingredients(recipe) {
        return [].concat(recipe.ilegumes, recipe.isec, recipe.ianimaux, recipe.ilof)
      },

      logger(obj) {
        return JSON.stringify(obj, null, 2)
      },
      getAll(prop) {
        return [...new Set([].concat.apply([], this.recettes.map(item => item[prop])))]
      },
      x(arr1, arr2) {
        return arr1.filter(val => arr2.includes(val))
      },


    }

  });
</script>
{{ end }}
