{{/* Apercu de la liste de recettes dans des vignettes regrouppant celles-ci par type ('plats', desserts', etc).
S'affiche sur la page 'home', a partir du "range" {{ range (.Site.GetPage "section" "recettes").Pages}}
partial "recettes-type-card" . }} {{ end -}} {{ end -}} (Si "recette" ne fait pas partie de la taxonomie de config.toml)
*/}}

<div class="col-lg-4">

  <div class="card recipe-card card-recette">
    <aside>
      <a href="{{ .Permalink }}">
        {{if .Params.img}}
        <img class="card-image img-fluid img-cover" src="{{.Params.img}}" />
        {{ else }}
        {{/*  TODO : image !  */}}
        <img class="card-image img-fluid img-cover" src="images/{{.Params.type}}.webp" />
        {{end}}
        <div class="card-recipe-title">
          <div class="h4 my-0">{{.Title}}</div>
          <div class="small">> Explorer parmis les {{ len .RegularPages}} recettes</div>

    </aside>
    <div class="muted fw-light small text-decoration-none text-center mt-3 ">Dernieres recettes publiées :</div>
    <div class="card-body">
      <a href="{{.Permalink}}" class="stretched-link"></a>
      {{ range first 5 .RegularPages.ByPublishDate }}
      <div class="card card-recette z-index-2">
        <a href="{{.Permalink}}" class="stretched-link"></a>
        <div>
          <div class="fw-bold">{{.Title}}</div>
          {{/*  {{if .Params.regime}} {{ range .Params.regime }}
          <span class="fs-xx-sm badge bg-grey"> {{.}}  </span>
          {{ end }} {{end}}  */}}
        </div>
      </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>